.newCategoria {
    width: 100%;
    height: calc(100vh - 80px) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-newCategoria {
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

.input-container-newCategoria {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-newCategoria{
    width: 100%;
    text-align: center;
}
