.newCategoria {
    width: 100%;
    height: calc(100vh - 80px) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-newCategoria {
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px;
}

.input-container-newCategoria {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



.input-newCategoria{
    width: 100%;
    text-align: center;
}

.btn-crear{
    z-index: 0;
    display: flex;
    justify-content: center;
}