.newModel {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
}

.inputs {
    width: 100%;
    margin: 10px 0px;
    line-height: 0;
    text-align: center;
}

.cont {
    display: flex;
    flex-direction: column;
    width: 30em;
    background-color: #fff;
    border-radius: 8px;
    height: 100%;
    padding: 10px 45px;
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.300);
    transition: transform .2s ease;
    text-decoration: none;
    color: black;
}

#boton {
    background-color: #97CEEE;
    box-shadow: 0px 0px 0px 0px #97CEEE;
    margin: 20px auto;
    width: 60%;
}

.cruz {
    width: 35px;
    height: 35px;
    position: relative;
    left: 95%;
    top: 2%;
    padding: 5px;
}

.trash {
    position: relative;
    margin: 0px;
    height: fit-content;
}

.trashInput {
    width: 100%;
    margin: 0 0;
}

.trashIcon {
    cursor: pointer;
    color: red;
    /* padding: 0 5px; */
    width: 1.5em;
    position: relative;
    left: 15px;
    top: 50%;
    padding: 0px;
    transition: transform .1s ease;
}

.trashIcon:hover {
    transform: translateY(-1px) scale(1.1);

}

.trashIcon > * {
    pointer-events: none;
}

.plus {
    position: relative;
}

.plusinput {
    width: 100%;
    margin: 0 0;
    cursor: pointer;
}

.plusIcon {
    width: 1.5em;
    position: relative;
    left: 15px;
    top: 50%;
}

.cloud {
    position: relative;

}

.cloudInput {
    margin: 0 0px;
    width: 100%;
}

.cloudIcon {
    width: 1.5em;
    position: relative;
    left: 15px;
    top: 50%;
}