.resetPassword {
    min-width:min-content;
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    box-shadow: -15px 15px 20px 4px rgba(0, 0, 0, 0.377);
    padding: 50px 20px;
    border: 1px solid rgba(0, 0, 0, 0.185);
    background-color: #fff;
}
.subtitle {
    text-align: center;
    font-weight: 500;
    margin: 10px;
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: min-content;
}
.input-container label {
    margin-left: 15px;
    justify-content: center;
}
 .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.resetPassword .btn {
    display: flex;
    justify-content: center;
    width: 40%;
}


